# Gemini API Key (Required for AI features)
GEMINI_API_KEY=AIzaSyBtqTLtWZLYDlAehngMCyVtT4AUerk90iw

# GitHub OAuth (Optional, for exporting projects)
GITHUB_CLIENT_ID=Ov23libKlKj6mN1hllhx
GITHUB_CLIENT_SECRET=fc55e2dfef5929a7034f3c20dc6709d108389ec0

# Session secret
SESSION_SECRET=EHY7X3ENlVWcvqnOXpt78usX8xtWzm/4b5PzPE3HDdB4UZhmqvubjLawmU0oNfnaZjkdFBoCiPtnvjC0iRMkag==